.section-wrapper
  height: 100vh
  width: 100%
  overflow: hidden
  background-repeat: no-repeat
  background-size: 100% 100%
  display: flex
  justify-content: center
  align-items: center

.section-headline-container
  font-size: $headline-font-size
  text-align: center

.section-headline-underline
  width: 630px
  height: 16px
  object-fit: cover

.paper
  min-height: 85%
  width: 90%
  background-color: $paper-color
  font-family: $main-font
  position: relative
  display: flex
  align-items: center
  flex-direction: column
  padding: 40px 80px

.business-cards
  height: 540px
  width: 618px
  position: absolute
  object-fit: contain
  right: -150px
  bottom: -160px

.section-subheadline
  font-size: $subheadline-font-size

.section-paragraph
  font-size: $paragraph-font-size
  align-self: flex-start

.section-paragraph-with-lists
  display: flex
  width: 100%
  justify-content: space-between
  margin-bottom: 15px

.list-container-0
  width: 15%

.list-container-1
  width: 27%

.list-container-2
  width: 55%

.list-container-negative
  width: 38%

.list-container-positive
  width: 62%

.list-item
  // display: inline-block

.list-item-positive
  color: green

.list-item-negative
  color: red

.list-item-icon
  width: 15px
  height: 15px
  // display: inline-block
  background-size: 100% 100%
  margin-left: 10px
  display: none

.green-text
  color: green
  font-weight: bold

.red-text
  color: red
  font-weight: bold

.list-item-icon-cross
  background-image: url("https://www.datocms-assets.com/45348/1616935874-cross-in-box-1.png")

.list-item-icon-tick
  background-image: url("https://www.datocms-assets.com/45348/1616936119-checkbox-composite-1174910.png")

.section-paragraph-main
  padding-top: 10px

  & > p
    padding-bottom: 15px

.section-paragraph-bottom
  width: 75%

@media screen and (max-width: $mediumBreakpoint)
  .paper
    min-height: 90%
    padding: 20px 30px

  .section-headline-container
    font-size: $headline-font-size-tablet

  .section-headline-underline
    width: 500px
    height: 16px
    margin-top: 5px

  .section-subheadline
    font-size: $subheadline-font-size-tablet

  .list-container-0
    width: 19%

  .list-container-2
    width: 50%

  .business-cards
    height: 400px
    width: 490px
    right: -120px
    bottom: -107px

  .section-paragraph-bottom
    width: 60%

@media screen and (max-width: $extraSmallBreakpoint)
  .paper
    min-height: 90%
    max-height: 95%
    padding: 20px 15px

  .section-headline-container
    font-size: $headline-font-size-mobile

  .section-headline-underline
    width: 300px
    height: 16px

  .section-subheadline
    font-size: $subheadline-font-size-mobile

  .section-paragraph
    font-size: $paragraph-font-size-mobile

  .business-cards
    height: 200px
    width: 280px
    right: -67px
    bottom: -49px


@media screen and (max-width: $smallestBreakpoint)
  .business-cards
    display: none

  .section-headline-container
    font-size: $headline-font-size-mobile-smallest

  .section-paragraph
    & > p
      padding-bottom: 5px

  .section-paragraph-bottom
    width: 100%
