$paragraph-font-size-desktop: 24px
$paragraph-font-size: 18px
$paragraph-font-size-tablet: 16px
$paragraph-font-size-mobile: 14px
$paragraph-font-size-mobile-smallest: 14px
$headline-font-size-desktop: 38px
$headline-font-size: 30px
$headline-font-size-tablet: 24px
$headline-font-size-mobile: 16px
$headline-font-size-mobile-smallest: 14px
$subheadline-font-size-desktop: 38px
$subheadline-font-size: 30px
$subheadline-font-size-tablet: 24px
$subheadline-font-size-mobile: 18px
$subheadline-font-size-mobile-smallest: 18px
$reduced-paragraph-font-size-desktop: 20px
$reduced-paragraph-font-size: 16px
$reduced-paragraph-font-size-tablet: 14px
$reduced-paragraph-font-size-mobile: 12px
$reduced-paragraph-font-size-mobile-smallest: 12px
